*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(123, 255, 255);
    color: black;
}
.card{
    background-color: rgb(255, 255, 255);
    width: 260px;
    border-radius: 8px;
    margin: 50px;
    align-content: center;
    
}