/* seletor universal*/
* {
    margin: 0;
    margin: 0;

}

/*selector de etiquetas*/
body {

    background-color: rgb(177, 177, 177);
    color: black;

}

/*selector id*/
#contenedor {
    width: 900px;
    height: 900px;
    background-color: rgb(145, 145, 145);
    margin: 10px;
    margin: 20px;
}

#encabezado {
    width: 70%;
    background-color: darkgrey;
    margin: 1em;
    border-radius: 5px;
    text-align: center;
}

#menu {
    height: 1%;
    background-color: rgb(117, 117, 117);
    margin: 1em;
    border-radius: 5px;
}

/*selector de etiqueta*/
ul {
    text-align: center;
    padding: 10px;
}

li {
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}

li a:hover {
    color: brown;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
}

/*selector de clase*/
.img {
    width: 30%;
    border-radius: 30px;
    justify-items: center;

}

.texto {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: black;
}

img:hover {
    width: 50%;
}